<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>labelStrLong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2184C0171F5937C30090B255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2184C0331F5937C60090B255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2184C03E1F5937C60090B255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
